{% extends "base.html" %}

{% load localeurl_tags %}
{% load i18n %}

{% block head %}
<title>InnovAgenda - {% trans "Contacto" %}</title>
{% endblock %}

{% block upnav %}
	<li><a href="/{{ LANGUAGE_CODE }}/">{% trans "Mapa" %}</a></li>
	<li><a href="/{{ LANGUAGE_CODE }}/events">{% trans "Eventos" %}</a></li>
	<li><a href="/{{ LANGUAGE_CODE }}/calendar">{% trans "Calendario" %}</a></li>
	<li><a href="/{{ LANGUAGE_CODE }}/search">{% trans "Buscador" %}</a></li>
	<li><a href="/{{ LANGUAGE_CODE }}/apidocs">{% trans "API" %}</a></li>
	<li><a href="/{{ LANGUAGE_CODE }}/contact" class="current">{% trans "Contacto" %}</a></li>
{% endblock %}

{% block content %}
  <section id="topbox">
  	<div class="container">
      <div class="inside">
        <div class="wrapper">
        	<!-- aside -->
          <aside>
            {% trans "<h2>Contacta con <span>nosotros</span></h2>" %}
            <!-- .contacts -->
            <ul class="contacts">
              <li><strong>E-mail:</strong><a href="mailto:info@innovagenda.com">info@innovagenda.com</a></li>
            </ul>
            <!-- /.contacts -->
            {% trans "Puedes contactar con nosotros para que recibamos tus dudas y/o sugerencias, mediante nuestra dirección de email o mediante el formulario de contacto. Muchas gracias." %}
          </aside>
          <!-- content -->
          <section id="content">
            <article>
            	{% trans "<h2>Formulario de <span>Contacto</span></h2>" %}
              	<form action="/{{ LANGUAGE_CODE }}/contact/" method="post">{% csrf_token %}
		    <fieldset>
			{{ form.non_field_errors }}
			<div class="field">
				{{ form.name.errors }}
				<label for="id_name">{% trans "Nombre" %}: &nbsp;&nbsp;</label>
				{{ form.name }}
			</div>
			<div class="field">
				{{ form.sender.errors }}
				<label for="id_sender">E-mail: &nbsp;{% ifequal LANGUAGE_CODE 'es' %}&nbsp;&nbsp;&nbsp;{% endifequal %}</label>
				{{ form.sender }}
			</div>
			<div class="field">
				{{ form.message.errors }}
				<label for="id_message">{% trans "Mensaje" %}: &nbsp;</label>
				{{ form.message }}
			</div>
			<div><input type="submit" value="{% trans 'Enviar' %}" /></div>
		    </fieldset>
		</form>
            </article> 
          </section>
        </div>
      </div>		
  	</div>
  </section>
  <div class="footbox">
    <div class="container">
    </div>
  </div>
{% endblock %}
